
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    margin: 0;
}
.swiper-slide a{
    display: inline-block;
    height: 100%;
    width: 100%;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}